@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */

@font-face {
  font-family: 'CustomFont';
  src: url('/fonts/font.ttf') format('truetype');
  /* Add additional src lines for other font formats */
  /* Example: src: url('/fonts/font.woff') format('woff'); */
  /* Example: src: url('/fonts/font.woff2') format('woff2'); */
}

@font-face {
  font-family: 'Beast';
  src: url('/fonts/Beast.ttf') format('truetype');
}

@font-face {
  font-family: 'CalifasDemo';
  src: url('/fonts/Califas Demo.ttf') format('truetype');
}

@font-face {
  font-family: 'BrutalTooth';
  src: url('/fonts/brutal-tooth.ttf') format('truetype');
}

@font-face {
  font-family: 'Kremlin';
  src: url('/fonts/Kremlin.ttf') format('truetype');
}

@font-face {
  font-family: 'BureauAgencyFBBold';
  src: url('/fonts/Bureau Agency FB Bold.otf') format('opentype');
}

@font-face {
  font-family: 'TibetanBeeggardenAOE';
  src: url('/fonts/Tibetan Beeggarden AOE.TTF') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
}


@font-face {
  font-family: 'Russian';
  src: url('/fonts/Russian.ttf') format('truetype');
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, CalifasDemo, TibetanBeeggardenAOE, Montserrat-Regular, Russian, BureauAgencyFBBold, Beast, CalifasDemo, BrutalTooth, Kremlin, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: black; /* Set text color to black */
  
}

a {
  @apply text-white hover:text-white; /* Change text color for links */
}

* {
  box-sizing: border-box;
}

.card {
  @apply mb-5 block rounded-lg border border-gray-200 shadow-md;
}

.primary-button {
  @apply rounded bg-white py-2 px-4 shadow outline-none hover:bg-white text-black; /* Adjust button styles */
  font-family: Kremlin;
}

.default-button {
  @apply rounded bg-gray-100 py-2 px-4 text-black shadow outline-none hover:bg-gray-200 active:bg-gray-300; /* Adjust button styles */
  font-family: Kremlin;
}

input,
select,
textarea {
  @apply rounded border p-2 outline-none ring-indigo-300 focus:ring;
  color: black; /* Set input text color to black */
}

.dropdown-link {
  @apply flex p-2 hover:bg-gray-200;
}

.alert-error {
  @apply my-3 rounded-lg bg-red-100 p-3 text-red-700;
 font-family: TibetanBeeggardenAOE
}

.alert-success {
  @apply my-3 rounded-lg bg-green-100 p-3 text-green-700;
}


